<!DOCTYPE html>
<!DOCTYPE html>

{% extends "layout.html" %}
{% block content %}
  <div class="download">
    <p>Download the word template here. <a href="/getWordTemplate">Click here.</a></p>


  </div>
{% endblock %}