<!DOCTYPE html>

{% extends "layout.html" %}
{% block content %}
  <div class="home">
    <p>This page is set up for formatting quizzes for bulk upload to Kahoot and Quizizz.</p>
    <p>For help, please visit <a href="https://sites.google.com/monash.edu/monash-pass-tech-tools/download-resources/bulk-upload-instructions"> this link</a>.
    <p><a href="/uploadfile">This link goes to the upload page.</a></p>
  </div>
{% endblock %}

