<!DOCTYPE html>

{% extends "layout.html" %}
{% block content %}
  <div class="kahootsend">
      <p>
    Under construction
</p>
<p>
    <form action="" method="post" novalidate>
        {{ form.hidden_tag() }}
        <p>
            {{ form.curlstring.label }}<br>

            {{ form.curlstring()}}

        </p>
        <p>
            {{ form.jsonstring.label }}<br>

            {{ form.jsonstring()}}

        </p>
        <p>{{ form.submit() }}</p>

        {{ form.csrf_token }}
    </form>
</p>

<p>
{% with messages = get_flashed_messages() %}
   {% if messages %}
      {% for message in messages %}
         {{ message }}</br>
      {% endfor %}
   {% endif %}
{% endwith %}
</p>
  </div>
{% endblock %}