<!DOCTYPE html>
<html>
    <head>
    <title>Quiz Bulk Upload Formatter</title>
    <!--<link rel="stylesheet" href="{{ url_for('static', filename='styles/main.css') }}">-->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css" integrity="sha384-WskhaSGFgHYWDcbwN70/dfYBj47jz9qbsMId/iRN3ewGhXQFZCSftd1LZCfmhktB" crossorigin="anonymous">
  </head>
  <body>
    <header>
      <div class="container">
        <h1 class="logo">Quiz Bulk Upload formatter</h1>
        <strong><nav>
          <ul class="menu">
            <li><a href="{{ url_for('home') }}">Home</a></li>
            <li><a href="{{ url_for('uploadfile') }}">Upload File</a></li>
            <li><a href="{{ url_for('downloads') }}">Downloads</a></li>
            <!--
            <li><a href="{{ url_for('uploadraw') }}">Upload Raw Text</a></li>
			-->
            <li><a href="{{ url_for('kahootsend') }}">Send to Kahoot</a></li>
            
          </ul>
        </nav></strong>
      </div>
    </header>
    <div class="container">
      {% block content %}
      {% endblock %}
    </div>
  </body>
</html>