<!DOCTYPE html>

{% extends "layout.html" %}
{% block content %}
  <div class="uploadsuccess">
      <p>
    {% with messages = get_flashed_messages() %}
   {% if messages %}
      {% for message in messages %}
         {{ message }}</br>
      {% endfor %}
   {% endif %}
{% endwith %}
</p>
<p> File downloads
<ul>
    {% for file in dloads %}
    <li><a href="{{ dloads_src[loop.index0] }}" download>{{ file }}</a> </li>
{% endfor %}
</ul>
</p>
  </div>
{% endblock %}