<!DOCTYPE html>

{% extends "layout.html" %}
{% block content %}
  <div class="upload">
    <p>Use the form below to upload a docx file to be processed.</p>

    <form action="/uploader" method="post" enctype = "multipart/form-data">
        <p><input type = "file" name = "file" /></p>
        <!--<p>Quizizz output? <input type = "checkbox" name = "ifquiz"/></p>
        <p>Kahoot output? <input type = "checkbox" name = "ifkahoot"/></p>-->
        <p><input type = "submit"/></p>
    </form>

    <p>
    {% with messages = get_flashed_messages() %}
   {% if messages %}
      {% for message in messages %}
         {{ message }}</br>
      {% endfor %}
   {% endif %}
{% endwith %}
</p>
  </div>
{% endblock %}