<!DOCTYPE html>
<!DOCTYPE html>

{% extends "layout.html" %}
{% block content %}
  <div class="upload">
      <p>This page is under construction.</p>
    <!--<p>This is the upload page. <a href="/getPlotCSV">This link goes to a blank download</a></p>

    <form action="" method="post" novalidate>
        {{ form.hidden_tag() }}
        <p>
            {{ form.inputstr.label }}<br>

            {{ form.inputstr()}}

        </p>
        <p>{{ form.submit() }}</p>

        {{ form.csrf_token }}
    </form>-->
  </div>
{% endblock %}